<div class="form-group">
  <label for="name">Task Name:</label>
  <input class="form-control" [(ngModel)]="name" id="name" />
  <label for="due">Due Date:</label>
  <input class="form-control" [(ngModel)]="due" id="due" type="date" />
  <label for="status">Status:</label>
  <select class="form-control" [(ngModel)]="status" id="status" >
    <option value="completed">Completed</option>
    <option value="inprogress">in progress</option>
  </select>
  <label for="desc">Discription:</label>
  <input class="form-control" [(ngModel)]="desc" id="desc" />
</div>
<br>
<button class="btn btn-primary" (click)="newItem()">Add Item ({{data.length}})</button>
<button class="btn btn-danger" (click)="clearItems()">Delete completed ({{count}})</button>
<br>

<br>
<table class="table table-hover">
  <tr>
    <th> # </th>
    <th> Task </th>
    <th> Due date </th>
    <th> Status </th>
    <th> Description </th>
    <th>Delete?</th>
  </tr>
  <tr *ngFor="let name of data; let i = index">
    <td>{{i+1}}</td>
    <td>{{data[i].name}}</td>
    <td>{{data[i].due}}</td>
    <td>{{data[i].status}}</td>
    <td>{{data[i].desc}}</td>
    <td><button class="btn btn-danger" (click)="deleteItem(i)">Delete</button></td>
  </tr>
</table>
